/HealthyCateringWeb/nbproject
/HealthyCateringWeb/nbproject/project.properties
/HealthyCateringWeb/build
/HealthyCateringWeb/dist
/HealthyCateringWeb/build.xml

/HealthyCateringWeb/web/resources/secret_password

# IntelliJ and Eclipse
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
log/
target/