/HealthyCateringWeb/nbproject
/HealthyCateringWeb/nbproject/*
/HealthyCateringWeb/nbproject/
/HealthyCateringWeb/nbproject/*/*
/HealthyCateringWeb/nbproject/project.properties
/HealthyCateringWeb/build
/HealthyCateringWeb/dist
/HealthyCateringWeb/build.xml

# IntelliJ and Eclipse
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
log/
target/