/* 
    Document   : main_styles
    Created on : Feb 28, 2013, 1:10:33 PM
    Author     : Everyone
    Description:
        This stylesheet has the style to all the tiny components.
*/

/* Remember to group by area, f.eks "lol.html" */