/* 
    Document   : main_styles
    Created on : Feb 28, 2013, 1:10:33 PM
    Author     : Everyone
    Description:
        This stylesheet has the style to all the tiny components.
*/

/* Remember to group by area, f.eks "lol.html" */



/* Menu.xhtml */
menu-table{   
    border-collapse:collapse;
}

th{
    text-align:center;
    background:none repeat scroll 0 0 #B5B5B5;
    border-bottom:1px solid #000000;
    padding:4px;
}

tr:nth-child(odd){
    text-align:center;
    background:none repeat scroll 0 0 #555555;
    border-top:1px solid #000000;
}

tr:nth-child(even){
    text-align:center;
    background:none repeat scroll 0 0 #959595;
    border-top:1px solid #BBBBBB;
}

/* common/control_panel.xhtml */

.control_panel_section {
    display: block;
    background-color: #666666;
    margin: 16px;
}

.control_panel_header {
    width: 100%;
    background-color: #333333;
    margin-bottom: 16px;
}

.control_panel_header h3 {
    color: white;
}

.control_panel_button_section {
    margin-left: 16px;
    margin-bottom: 16px;
    width: 120px;
    height: 120px;
    display: inline-block;
}

.control_panel_button {
    width: 120px;
    height: 120px;
    display: block;
}

.control_panel_label {
    color: black;
    text-align: center;
    font-weight: bold;
    position: relative;
    bottom: 20px;
    width: 120px;
    display: block;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

/* common/register.xhtml */

#registerprivate{
}

#registercorporate{
    display: none;
}

.inputfields{
    position: relative;
    color: black;
}

.edit_account_table_customer {
    text-align: left;
}