/* temp */

.active_orders_table {
    width: 100%;
}

.customer_id {
    width: 100px; 
}

.customer_id input {
    margin: 4px;
    float: right;
}

.product_ids {
}

.product_ids input {
    margin: 4px;
    float: right;
}

.deliver_on {
    width: 100px;
}

.details {
    width: 20px;
}

.placed_on {
    width: 100px;
}

.delivered {
    width: 100px;
}

#centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
}

#detail_info h2 {
    background-color: #333333;
    margin-bottom: 4px;
}

#detail_info .close_info_button {
    float: right;
    width: 40px;
    height: 40px;
    left: 550px;
    top: 20px;
}

#detail_info {
    background-color: #666666;
    position: relative;

    padding: 8px;
    display: none;

    width: 600px;
    margin-left: -300px;

    height: 460px;
    margin-top: -200px;
}

#detail_info label {
    display: inline-block;
    width: 100px;
}

#detail_info label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    margin-bottom: 4px;
}

#detail_info .text {
    display: inline-block;
    width: 200px;
    
}

#detail_info #details_left_col {
    float: left;
    width: 600px;
    height: 120px;
}

#detail_info #details_right_col {
    float: right;
    width: 600px;
    height: 260px;
    overflow: auto;
}


.active_orders_item_details_popup {
    width: 100%;
}

