/* 
    Document   : main_styles
    Created on : Feb 28, 2013, 1:10:33 PM
    Author     : Karlr
    Description:
        This style sheet is related to placement and sub-styling of elements.
        If you want to add something new to this file, first add a section
        (via comments) as done previously. Keep it clean.

        IMPORTANT: If what you're adding here is global to the entire site you
        should add it to main_styles.css'
*/
