/* 
    Document   : main_styles
    Created on : Feb 28, 2013, 1:10:33 PM
    Author     : Karl
    Description:
        This is the primary style sheet, meaing it styles
        primary elements that are not unique to one or two sites.
*/

header#primary_header {
    background-color: green;
}

nav#primary_nav {
    background-color: yellow;
}

article#primary_content {
    background-color: burlywood;
}