/* 
    Document   : main_styles
    Created on : Feb 28, 2013, 1:10:33 PM
    Author     : Karl
    Description:
        This is the primary style sheet, meaing it styles
        primary elements that are not unique to one or two sites.
*/

* {
    color: #333333;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    margin: 0;
    padding: 0;
}

#site_width_constraint {
    margin: 0 auto;
    width: 990px;
}

body {
    /* Width should be limited here e.g:
    width: 1024px;
    */
}

html {
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

root { 
    display: block;
}

