/* 
    Document   : main_styles
    Created on : Feb 28, 2013, 1:10:33 PM
    Author     : Karl
    Description:
        This is the primary style sheet, meaing it styles
        primary elements that are not unique to one or two sites.
*/

* {
    color: #333333;
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

html {
    background-image:url('img/kitten.jpg'); 
}

root { 
    display: block;
}

