/* Less file for use of variables and stuff */

@primary_background: #E1E6FA;
@accent_heavy: #375D81;
@accent_light: rgba(171, 200, 226, 0.9);
@tab_selected: #183152;
@tab_hover: #222211;

@table_header: #375D81;
@table_even_row: #C4D7ED;
@table_odd_row: #E1E6FA;

@font_color: black;
@font_header: white;

@control_panel_label_bg: #E1E6FA;
@control_panel_label: @font_color;

/* Primary definitions */
* {
    color: @font_color;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    padding: 8px;
}

input {
    color: black;
}

h1, h2 {
    background-color: @accent_heavy;
}

h1, h2, h3, h4, h5 {
    color: @font_header;
    padding: 8px;
}

#site_width_constraint {
    margin: 0 auto;
    width: 990px;
}

.button_style {
    background-color: @accent_heavy;
    border: none;
    padding: 4px;
    margin: 4px;
    color: @font_header;
    border: 2px solid @tab_selected;
}

html {
    background-color: @primary_background;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#background-fixed {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    background-image:url('../resources/img/fresh_salad_bottom.png'),
        url("../resources/img/fresh_tomato_bottom.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    z-index: -100;
}

root { 
    display: block;
}

ul {
    margin: 8px;
    margin-left: 25px;
}

table {
    width: 100%;
    margin: 8px;
    margin-left: 0;
}

/* The sliding login-bar at the top */
#top_bar_span_login_always_show {
    padding: 4px 0;
    text-align: center;
    background-color: @accent_heavy;
    color: @font_header;
    height: 20px;
    width: 100%;
}

#top_bar_span_login {
    background-color: @accent_light;
    width: 100%;
    height: 220px;
    display: none;
}

#site_opaque {
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: none;
    z-index: 100;
}

.error_message {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.error_message li {
    list-style: none;
}

/* Log in form inside the sliding bar */

.login_form a, .forgot_password a {
    color: @font_color;
}

.login_form, .forgot_password {
    width: 450px;
    margin: 0 auto;
    padding-top: 50px;
}

.login_input { 
    color: black;
    display: inline-block;
    width: 150px;
    margin: 4px;
}

.forgot_password {
    display: none;
}

.login_buttons_group {
    color: @font_color;
    margin: 0 auto;
    display: block;
    width: 400px;
}

.loginbutton {
    color: black;
    margin: 4px;
    width: 100px;
    display: inline-block;
    border-radius: 4px;
}

.login_form label, .forgot_password label {
    font-size: 15px;
    color: @font_color;
    display: inline-block;
    width: 130px;
    text-align: right;
    margin-right: 20px;
}


.logout_form {
    display: inline-block;
    float: right;
}

top_right_corner {

}

.logout_form a {
    margin: auto 0;
    padding-right: 10px;
    display: inline-block;
    font-size: 14px;
    color: @font_header;
}

/* Main chunks of the site*/
header#primary_header {
    margin-top: 10px;
    height: 160px;
}

.primary_logo {
    width: 150px;
    height: 150px;
    float: left;
}

nav#primary_nav {
    float: right;
    margin-top: 95px;
    margin-right: 200px;
}

nav#primary_nav #ruler {
    border: 2px solid @accent_heavy;
    margin-top: 40px;
    width: 100%;
}

article#primary_content {
    padding: 8px;
    margin-top: 10px;
    background-color: @accent_light;
    float: left;
    width: 685px;
}

aside#sidebar {
    margin-top: 10px;
    padding: 8px;
    float: right;
    background-color: @accent_light;
    width: 270px;
}

footer#footer {
    background-color: @accent_heavy;
    color: @font_header;
    padding: 10px 0;
    margin: 10px 0;
    float: left;
    width: 100%;
    font-size: 11px;
    text-align: center;
}

/* Navigation */
ul#navul {
    margin: 0;
    display: block;
    list-style-position: inside;
    list-style-type: none;
}

ul#navul li {
    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
    float: left;
}

ul#navul li:hover {
    
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms--transform: scale(1.2);
    transform: scale(1.2);
}

#navul a:link, a:visited {
    padding: 8px 20px;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    display: block;
}
div#login_button {
    float: right;
}

/* Flags on the top */

#form_locale {
    float: left;
    padding-left: 10px;
}

.localeimage {
    height: 20px;
    width: 20px;
    padding-right: 4px;
}

//**************************
//   SPECIFIC PAGES BELOW
//****************************//


/* Remember to group by area, f.eks "lol.html" */

/* index.xhtml */

#galleria_front {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

/* about and contact */

.front_image {
    float: left;
    margin: 8px;
    width: 670px;
}

/* Menu.xhtml */
menu-table{   
    border-collapse:collapse;
}

td {
    padding: 2px;
}

th {
    color: @font_header;
    text-align:center;
    background:none repeat scroll 0 0 @table_header;
    border-bottom: none;
    padding:4px;
}

tr:nth-child(odd){
    text-align:center;
    background:none repeat scroll 0 0 @table_odd_row;
    border-top: none;
}

tr:nth-child(even){
    text-align:center;
    background:none repeat scroll 0 0 @table_even_row;
    border-top: none;
}

/* common/control_panel.xhtml */

#control_panel_path_link, #control_panel_path_link a {
    display: inline;
    color: white;
}

.control_panel_section {
    display: block;
    margin: 16px;
}

.control_panel_header {
    width: 100%;
    background-color: @accent_heavy;
    margin-bottom: 16px;
}

.control_panel_button_section {
    margin-left: 16px;
    margin-bottom: 16px;
    width: 120px;
    height: 145px;
    display: inline-block;
}

.control_panel_button {
    width: 120px;
    height: 120px;
    display: block;
}

.control_panel_label {
    color: @control_panel_label;
    text-align: center;
    font-weight: bold;
    position: relative;
    font-size: 12px;
    padding-top: 4px;
    bottom: -5px;
    width: 120px;
    display: block;
    height: 18px;
    background-color: @control_panel_label_bg;
    pointer-events: none;
}

/* common/register.xhtml */

#registerprivate{
}

#registercorporate{
    display: none;
}

.inputfields{
    position: relative;
    color: black;
}

.edit_account_table_customer {
    text-align: left;
}

#register_tab_left h3, #register_tab_right h3 {
    text-align: center;
}

#register_tab_left {
    margin-top: 8px;
    margin-left: 4px;
    padding-bottom: 4px;
    display: inline-block;
    height: 30px;
    width: 49%;
    background-color: @tab_selected;
}

#register_tab_right {
    padding-bottom: 4px;
    display: inline-block;
    height: 30px;
    width: 49%;
    background-color: @accent_heavy;
}

#register_order_history {
    display: none;
}

.fieldset legend {
    font-weight: bold;
    padding: 0 4px;
}

.half_box_left {
    padding: 8px;   
    display: inline-block;
    float: left;
    width: 48%;
}

.half_box_right {
    padding: 8px;
    display: inline-block;
    float: right;
    width: 48%;
}

.register_new_button {
    margin: 10px;
}

/* active_orders.xhtml */
.active_orders_table .customer_id {
    width: 130px;
}

.active_orders_table .product_ids {
}

.active_orders_table .placed_on {
    width: 160px;
}

.active_orders_table .deliver_on {
    width: 160px;
}

.active_orders_table .delivery {
    width: 10px;

}

.active_orders_table .details {
    width: 10px;
}

.active_orders_table .delivered {
    width: 10px;
}


#order_tab_left h3, #order_tab_right h3 {
    text-align: center;
}

#order_tab_left {
    margin-top: 8px;
    margin-left: 4px;
    padding-bottom: 4px;
    display: inline-block;
    height: 30px;
    width: 49%;
    background-color: @accent_heavy;
}

#order_tab_right {
    padding-bottom: 4px;
    display: inline-block;
    height: 30px;
    width: 49%;
    background-color: @tab_selected;
}

#order_tab_left:hover, #order_tab_right:hover {
    background-color: @tab_hover;
}

#order_order_history {
    display: none;
}

/* Used for the detailed info popup */
#centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
}

.detail_info_popup h2 {
    background-color: @accent_heavy;
    margin-bottom: 4px;
}

.detail_info_popup .close_info_button {
    background: none;
    float: right;
    border: none;
    width: 45px;
    height: 45px;
    left: 550px;
    top: 20px;
}

.detail_info_popup {
    background-color: @accent_light;
    position: relative;

    padding: 8px;
    display: none;

    width: 600px;
    margin-left: -300px;

    height: 490px;
    margin-top: -230px;

    z-index: 200;
}
/* Specific for popup in view_customer.xhtml */

/* Specific for popup in order_overview.xhtml */
#detail_order_info label {
    display: inline-block;
    width: 100px;
}

#detail_order_info label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
    margin-bottom: 4px;
}

#detail_order_info .text {
    display: inline-block;
    width: 200px;

}

#detail_order_info #details_left_col {
    float: left;
    width: 600px;
    height: 120px;
}

#detail_order_info #details_right_col {
    float: right;
    width: 600px;
    height: 260px;
    overflow: auto;
}

.active_orders_item_details_popup {
    width: 100%;
}

#add_product_package {
    height: 390px;
    overflow: auto;
}


/* place_order.xhtml */
#place_order_delivery_date_form {
    display: none;
}

/* Contract_overview.xhtml */
.contract_overview_table .contract_id {
    width: 80px;
}

.contract_overview_table .products {
}

.contract_overview_table .customer_id {
    width: 150px;
}

.contract_overview_table .active {
    width: 100px;
}

.contract_overview_table .active input {
    margin: 0;
    pading: 0;
    width: 100%;
    height: 100%;
    border: 1px solid @accent_heavy;
    background-color: @accent_light;
}


/* edit_account.xhtml */
.edit_account_customer label, .edit_account_employee label {
    margin: 8px;    
    display: inline-block;
    width: 250px;
}

/* add_new_user.xhtml */

#create_account_system_form {
    width: 50%;
    padding: 8px;
}

#create_account_system_form label {
    padding: 4px;
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

#create_account_system_form .button {
    padding: 4px;
}

#create_account_system_form\:create_account_system_radio {
    margin: 0;
}

/* template_content.xhtml */

.cart_delete_button {
    -webkit-transform:rotate(45deg);
}

.menu_add_button {
    color: @font_color;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}


/*product_overview.xhtml*/
.add_product_tab_single_left, .add_product_tab_package_right {
    padding-top: 8px;
    padding-bottom: -16px;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    vertical-align: text-bottom;
    color: @font_header;
}

.add_product_tab_single_left {
    margin-top: 8px;
    margin-left: 4px;
    display: inline-block;
    height: 30px;
    width: 49%;
    background-color: @accent_heavy;
}

.add_product_tab_package_right {
    margin-top: 8px;
    margin-left: 4px;
    display: inline-block;
    height: 30px;
    width: 49%;
    background-color: @tab_selected;
}

#product_tab_left:hover, #product_tab_right:hover {
    background-color: @tab_hover;
}

#add_product_package {
    display: none;
}


// Statistics.xhtml

#statistics_col_left, #statistics_col_right {
    display: inline-block;
    width: 48%;
    margin: 8px;
    min-height: 100px;
    font-size: 18px;
}

#statistics_col_left {
}

#statistics_col_right {
    float: right;
}

#statistics_col_left label, #statistics_col_right label {
    margin: 2px;
    width: 75%;
    display: inline-block;
}

#statistics_col_left .output_stat, #statistics_col_right .output_stat {
    width: 23%;
    display: inline-block;
    font-weight: bold;
}

#statistics_graphs {
    margin: 8px;
    float: left;
}

#statistics_graphs #chart_pie_popularity {
    width: 48%;
    display: inline-block;
    float: right;
}

#statistics_graphs #graph_price_per_id {
    width: 48%;
    display: inline-block;
}

#statistics_graphs #graph_price_per_id img, #statistics_graphs #chart_pie_popularity img {
    display:none;
}

// add_contract.xhtml
#contract_overview label{
    padding: 4px;
}

.select_day_of_week_dropdown {
    font-size: 16px;
}

// Used to set the general size of PrimeFaces inputs slightly smaller.
.ui-widget {
    font-size: 0.8em;
}